In [1]:
import pandas as pd
import numpy as np

In [34]:
train = pd.read_table('train.tsv')
test = pd.read_table('test.tsv')

In [35]:
dev = pd.read_table('dev.tsv')

In [36]:
dev.shape

(872, 2)

In [37]:
dev

                                              sentence  label
0      it 's a charming and often affecting journey .       1
1                   unflinchingly bleak and desperate       0
2    allows us to hope that nolan is poised to emba...      1
3    the acting , costumes , music , cinematography...      1
4                    it 's slow -- very , very slow .       0
..                                                 ...    ...
867              has all the depth of a wading pool .       0
868              a movie with a real anarchic flair .       1
869  a subject like this should inspire reaction in...      0
870  ... is an arthritic attempt at directing by ca...      0
871  looking aristocratic , luminous yet careworn i...      1

[872 rows x 2 columns]

In [38]:
total = train.shape[0] + test.shape[0]
print(total)

69170

In [39]:
train.shape

(67349, 2)

In [40]:
test.shape

(1821, 2)

In [41]:
train

                                                sentence  label
0           hide new secretions from the parental units       0
1                   contains no wit , only labored gags       0
2      that loves its characters and communicates som...      1
3      remains utterly satisfied to remain the same t...      0
4      on the worst revenge-of-the-nerds clichés the ...      0
...                                                  ...    ...
67344                               a delightful comedy       1
67345                   anguish , anger and frustration       0
67346  at achieving the modest , crowd-pleasing goals...      1
67347                                  a patient viewer       1
67348  this new jangle of noise , mayhem and stupidit...      0

[67349 rows x 2 columns]

In [42]:
test

      index                                           sentence
0         0             uneasy mishmash of styles and genres .
1         1  this film 's relationship to actual tension is...
2         2  by the end of no such thing the audience , lik...
3         3  director rob marshall went out gunning to make...
4         4  lathan and diggs have considerable personal ch...
...     ...                                                ...
1816   1816  it risks seeming slow and pretentious , becaus...
1817   1817  take care of my cat offers a refreshingly diff...
1818   1818  davis has filled out his cast with appealing f...
1819   1819  it represents better-than-average movie-making...
1820   1820  dazzling and sugar-sweet , a blast of shallow ...

[1821 rows x 2 columns]

In [33]:
test = test.drop('index', 1)

In [47]:
test1 = pd.read_csv('test.tsv',sep='\t')

In [48]:
test1

      index                                           sentence
0         0             uneasy mishmash of styles and genres .
1         1  this film 's relationship to actual tension is...
2         2  by the end of no such thing the audience , lik...
3         3  director rob marshall went out gunning to make...
4         4  lathan and diggs have considerable personal ch...
...     ...                                                ...
1816   1816  it risks seeming slow and pretentious , becaus...
1817   1817  take care of my cat offers a refreshingly diff...
1818   1818  davis has filled out his cast with appealing f...
1819   1819  it represents better-than-average movie-making...
1820   1820  dazzling and sugar-sweet , a blast of shallow ...

[1821 rows x 2 columns]

In [50]:
test1.sentence[1]

"this film 's relationship to actual tension is the same as what christmas-tree flocking in a spray can is to actual snow : a poor -- if durable -- imitation ."